*{margin:0;padding:0;font:inherit;}
html{background:#27313E;}
/*type*/
body{line-height:1;font-size:100%;font-family:"helvetica neue",helvetica,arial,sans-serif;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;color:#9099A3;}
/*header*/
header{background:#1f2630;}
header hgroup{padding:0.5em 5%;overflow:hidden;}
header h1{float:left;}
header h1 a{color:#fff;font-weight:bold;text-decoration:none;}
#config-link{color:#9099A3;float:right;text-decoration:none;}
#config-link:hover{color:#DD4A38;}
/*alien*/
#alien{display:block;clear:both;width:15%;margin:2em auto;}
/*reddit data*/
article{padding:1em 5%;border-top:solid 0.2em #1f2630;line-height:1.6;}
article h1 a{display:block;color:#fff;text-decoration:none;font-size:1.25em;font-weight:200;margin-bottom:0.5em;}
article h1 a:hover{opacity:0.75;}
.meta{overflow:hidden;}
.subreddit{float:left;}
.comments{float:right;}
.comments a{color:#DD4A38;text-decoration:none;}
.comments a:hover{text-decoration:underline;}
.error{font-size:1.5em;text-align:center;font-weight:200;padding:1em 5%;line-height:1.6;}
/*footer*/
footer{text-align:center;padding:3em 0;border-top:solid 0.2em #DD4A38;}
footer a{color:#fff;text-decoration:none;font-weight:bold;}
/*config*/
#add-sub{padding:1em 5%;}
#new-sub{display:block;width:100%;padding:0.5em;box-sizing:border-box;}
#active-subs{list-style:none;}
#active-subs li{padding:1em 5%;border-top:solid 0.2em #1f2630;line-height:1.6;overflow:hidden;}
#active-subs .name{float:left;}
#active-subs .remove{display:block;color:#DD4A38;float:right;}
#active-subs .remove:hover{text-decoration:underline;cursor:pointer;}
/*screen sizes*/
header hgroup,.page-content,footer{max-width:40em;margin:0 auto;}
@media screen and (min-width:40em)
{
	body{font-size:125%;}
	#alien{margin:4em auto;}
	article,#add-sub,#active-sub li{padding:2em 5%;}
	article h1 a{font-size:1.5em;}
	.error{font-size:2em;}
	footer{padding:4em 0;}
}
